<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="background">
        <div>
            <article class="card character-item">
                <h1 class="card__msg">Welcome Adventurer!</h1>
            </article>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>