.form-control {
    margin: 5%;
}

.form-control label{
    font-size: 200%;
    margin-bottom: 0.25rem;
    color: black;
}
.form-control input {
    display: block;
    width: 75%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #00695c;
}

.form-title {
    text-align: center;
    color: black;
}

.small-form {
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    min-width: 45%;
    margin-top: 3.5rem;
    font-size: auto;
    background: #32d3f0a4;
    color: teal;
  }
